name: plex-audnexus-tmc
services:
  app:
    container_name: plex
    image: lscr.io/linuxserver/plex:latest
    environment:
      - PUID=1000
      - PGID=1000
      - PLEX_CLAIM=<REPLACE WITH code from https://www.plex.tv/claim/>
      - TZ=$TZ
      - VERSION=docker
      - DOCKER_MODS=linuxserver/mods:plex-audnexus
    volumes:
      - type: bind
        source: /DATA/AppData/TMC-Store/plex/config
        target: /config
      - type: bind
        source: /DATA/AppData/TMC-Store/plex/transcode
        target: /transcode
      - type: bind
        source: /DATA/Media
        target: /media
    restart: unless-stopped
    network_mode: host
    privileged: false

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: plex
  category: TMCstore
  description:
    en_us: Plex + An audnex.us client, providing rich author and audiobook data to Plex via its legacy plugin agent system.
  developer: plex
  icon: https://cdn.jsdelivr.net/gh/mariosemes/CasaOS-TMCstore@main/Apps/plex/icon.png
  index: /web
  main: app
  port_map: "32400"
  scheme: http
  tips:
    custom: |
      Instractions and installation available here: https://github.com/mariosemes/CasaOS-TMCstore/tree/main/Apps/plex%2Babsolute
  tagline:
    en_us: Plex + An audnex.us client, providing rich author and audiobook data to Plex via its legacy plugin agent system.
  store_app_id: plex-audnexus-tmc
  title:
    en_us: Plex + Audnexus Mod
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/mariosemes/CasaOS-TMCstore@main/Apps/plex/screenshot-01.png
  thumbnail: https://cdn.jsdelivr.net/gh/mariosemes/CasaOS-TMCstore@main/Apps/plex/thumbnail.png
